package {{ group_id }}.config;

import {{ group_id }}.config.commons.Configs;

import javax.enterprise.inject.Produces;

import static {{ group_id }}.config.Configuration.CONFIG_FILE;

public class ConfigurationProducer {

  @Produces
  public Configuration produce(){
    //return Configs.fileConfig(CONFIG_FOLDER_VARIABLE, CONFIG_FILE)
    return Configs.fileConfig(
      ConfigurationProducer.class.getResourceAsStream("/"+ CONFIG_FILE))
      .proxy(Configuration.class);
  }
}
