package {{ group_id }}.datasource.repository;

import javax.enterprise.context.Dependent;
import javax.enterprise.inject.Produces;
import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;

public class CdiConfig {

  @Produces
  @Dependent //do not set RequestScoped
  @PersistenceContext(unitName = "{{ artifact_id }}-persistent-unit") //see persistence-unit name="{{ artifact_id }}-persistent-unit" in persistence.xml
  public EntityManager entityManager;
}
