package {{ group_id }}.datasource.repository;

import {{ group_id }}.datasource.entities.EntityExample;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Query;
import org.springframework.data.repository.cdi.Eager;
import org.springframework.data.repository.query.Param;

import java.util.List;

import static {{ group_id }}.datasource.entities.EntityExample.Persistence.COLUMN_NAME;
import static {{ group_id }}.datasource.entities.EntityExample.Persistence.TABLE_NAME;
import static {{ group_id }}.datasource.entities.EntityExample.Queries.NAME_PARAM;

@Eager
public interface EntityExampleRepository extends JpaRepository<EntityExample, Long> {

  List<EntityExample> findByName(String name);

  @Query(value = "SELECT * FROM " + TABLE_NAME + " WHERE " + COLUMN_NAME + " = :" + NAME_PARAM, nativeQuery = true)
  List<EntityExample> customFindByName(@Param(NAME_PARAM) String name);
}
