databaseChangeLog:

  - changeSet:
      id: 1
      author: asokolov
      changes:
        - createTable:
            tableName: hibernate_sequence
            columns:
              - column:
                  name: next_val
                  type: bigint
        - insert:
            tableName: hibernate_sequence
            columns:
              - column:
                  name: next_val
                  value: 1

        - createTable:
            tableName: example
            columns:
              - column:
                  name: id
                  type: bigint
                  constraints:
                    primaryKey: true
              - column:
                  name: name
                  type: varchar(255)
                  constraints:
                    nullable: false
                    unique: false
              - column:
                  name: money
                  # see https://github.com/liquibase/liquibase/issues/1190
                  # type: currency
                  type: decimal(15,4)
              - column:
                  name: start_date
                  type: datetime