
  <security-role>
    <role-name>{{ security_role_name }}</role-name>
  </security-role>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JAX RS</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>{{ security_role_name }}</role-name>
    </auth-constraint>
  </security-constraint>

  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>default</realm-name>
  </login-config>