package {{ group_id }}.rest.app;

import {{ group_id }}.rest.api.MockRestApi;
import {{ group_id }}.rest.dto.MockDto;

public class MockRestService implements MockRestApi {

  @Override
  public MockDto get() {
    return JaxRsHandlerUtils.handle(() -> {
      MockDto mock = new MockDto();
      mock.setName("mock");
      return mock;
    });
  }

  @Override
  public void post(String inputData) {
    JaxRsHandlerUtils.validateAndHandle(
      inputData,
      someData -> someData,
      validData -> {
        System.out.println(validData);
        return validData;
      }
    );
  }

}
