
#### Usage:

  1. Application GUI url

  `${deployed.application.host}{{ project_url }}`

For instance: `http://localhost:18080{{ project_url }}`

2. Enunciate and Swagger documentation on supported REST services url:

  `${deployed.application.host}{{ project_url }}/docs`

  For instance: `http://localhost:18080{{ project_url }}/docs`