package {{ group_id }}.config.commons;

import static {{ group_id }}.config.commons.TestPropertiesConfig.NOT_EXISTING_PROP_KEY;

public interface NotExistingStringConfig {

  @PropertyKey(NOT_EXISTING_PROP_KEY)
  String notExistingProperty();
}
