package {{ group_id }}.config.commons;

import java.util.Collections;

import static {{ group_id }}.config.commons.TestPropertiesConfig.STRING_PROP_KEY1;

public interface UnsupportedReturnTypeConfig {

  @PropertyKey(STRING_PROP_KEY1)
  Collections unsupportedReturnType();
}
