package {{ group_id }}.async.example;

public class LongJobStatistics {
  public void finish() {
  }

  public void notHandledItem(CustomItemType item) {
  }

  public void filterError(CustomItemType item) {
  }

  public void successfullyHandled(CustomItemType item) {
  }

  public void handlerError(CustomItemType item) {
  }
}
