package {{ group_id }}.async.example;

import java.util.concurrent.TimeUnit;

import javax.inject.Inject;

import org.jboss.ejb3.annotation.TransactionTimeout;

import {{ group_id }}.async.JeeAsyncHandler;

/**
 * This service is an endpoint of the async trigger.
 *  You can invoke its method from any rest or cron services.
 */
public class MyLongRunningServiceAsyncTrigger {

  @Inject
  JeeAsyncHandler asyncHandler;

  @Inject
  MyLongRunningServiceHandlersProvider myLongRunningServiceHandlersProvider;

  //TODO not clear if we must also define it here
  @TransactionTimeout(value = 24, unit = TimeUnit.HOURS)
  public void trigger() {
    asyncHandler.trigger(
      myLongRunningServiceHandlersProvider::runVeryLongJobWithStatistics,
      myLongRunningServiceHandlersProvider::itemFilter,
      myLongRunningServiceHandlersProvider::itemHandler,
      this::finalResultHandler);
  }

  private void finalResultHandler(LongJobStatistics statistics) {
    System.out.println(statistics);
  }
}
