package {{ group_id }}.config;

import {{ group_id }}.commons.config.PropertyKey;

import java.util.List;
import java.util.Map;
import java.util.Optional;

public interface Configuration {

  String CONFIG_FOLDER_VARIABLE = "{{ config_folder_path }}";
  String CONFIG_FILE = "{{ config_file_name }}";

  @PropertyKey("name")
  String name();

  @PropertyKey("cron")
  Optional<String> cronExpression();

  @PropertyKey("items")
  List<String> list();

  @PropertyKey("key.value.pairs")
  Map<String, String> map();

}
