package {{ group_id }}.config;

import {{ group_id }}.config.commons.Configs;
import {{ group_id }}.commons.test.BaseTest;

public class AppBaseTest extends BaseTest {

  //you custom property file for tests is needed:
  //private static final String CONF_PROP = "test.{{ config_file_name }}";
  private static final String CONF_PROP = Configuration.CONFIG_FILE;

  public static final String BASIC_AUTH_PASSWORD = "admin123";

  public Configuration testConfig() {
    return Configs
      .fileConfig(testInputStream(CONF_PROP))
      .proxy(Configuration.class);
  }

}
