package {{ group_id }}.config;

import {{ group_id }}.config.commons.Configs;
import {{ group_id }}.commons.test.BaseTest;

public class AppBaseTest extends BaseTest {

  public Configuration testConfig() {
    return Configs
      .fileConfig(testInputStream(Configuration.CONFIG_FILE))
      .proxy(Configuration.class);
  }

}
