package {{ group_id }}.rest.api;


import {{ group_id }}.rest.dto.MockDto;

import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;

import javax.ws.rs.core.MediaType;

/**
 * Mock rest service for correct rest documentation generation,
 *  Remove it, as soon as you add any other REST API classes
 */
@Path(MockRestApi.SERVICE_REST_URL)
@Produces(MediaType.APPLICATION_JSON)
public interface MockRestApi {

  String SERVICE_REST_URL = "/";

  @GET
  MockDto get();
}
