package {{ group_id }}.commons.soap;

import {{ group_id }}.commons.soap.filter.SoapThreadLocalHolder;

import java.util.List;

public class SoapUtils {

  public static List<String> getLastSoapCallDetails() {
    return SoapThreadLocalHolder.getSoapDetails();
  }

}